<h1>
  {{currentHero.id ? 'Editing Hero' : 'Add Hero' }}
  <small *ngIf="currentHero.id">{{currentHero.superhero}}</small>
</h1>

<mat-divider class="mb-2"></mat-divider>

<div class="grid">
  <div class="col-12 sm:col-6">
    <mat-card>
      <mat-card-content>

        <!-- Form Started!-->
        <form class="grid" [formGroup]="heroForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="col-12 sm:col-6">
            <mat-label>SuperHero</mat-label>
            <input type="text" matInput required formControlName="superhero" />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Alter Ego</mat-label>
            <input type="text" matInput required formControlName="alter_ego" />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>First Appearance</mat-label>
            <input type="text" matInput required
              formControlName="first_appearance" />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Character</mat-label>
            <input type="text" matInput required formControlName="characters" />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Company</mat-label>
            <mat-select required formControlName="publisher">
              <mat-option *ngFor="let publisher of publishers"
                [value]="publisher.id">{{publisher.desc}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Alternative Image</mat-label>
            <input type="text" matInput formControlName="alt_img" />
          </mat-form-field>

        </form>
        <!-- Form Ended!!-->

        <div class="flex justify-content-between">
          <button mat-flat-button color="warn" *ngIf="currentHero.id"><mat-icon>delete</mat-icon>Delete</button>
          <span></span>
          <button mat-flat-button color="primary" (click)="onSubmit()"><mat-icon>save</mat-icon>Save</button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 sm:col-6">
    <mat-card>
      <img [src]="currentHero | heroImage" alt="heroImage" mat-card-image>
    </mat-card>
  </div>

</div>
