<section class="container">
  <h1 class="mt-3">Nested Selectors</h1>
  <hr>

  <form [formGroup]="myForm">
    <!--Regions-->
    <div class="row mb-3">
      <div class="col">
        <label class="form-label">Continent:</label>
        <select formControlName="region" class="form-control">
          <option value="">-- Select Continent --</option>
          <option [value]="region" *ngFor="let region of regions">{{region}}</option>
        </select>
      </div>
    </div>


    <!-- Countries -->
    <div class="row mb-3">
      <div class="col">
        <label class="form-label">Country:</label>
        <select formControlName="region" class="form-control">
          <option value="">-- Select Country --</option>
          <!-- <option [value]="region" *ngFor="let region of regions">{{region}}</option> -->
        </select>
      </div>
    </div>


  </form>

  <h3>Form</h3>

  <code>{{myForm.value | json  }}</code>
  <p>is Form Valid ? {{myForm.valid}}</p>

</section>
