<p-panel header="UnCommon Pipes" class="p-1">
  <p>UnCommonly used Pipes in Angular!</p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-6">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
      <p>
        Greetings! {{name}}, You are the {{gender | i18nSelect:invitationMap}}
        of our Main Event!
      </p>
      <p-button
        (click)='changeClient()'
        label="Change Client">
      </p-button>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
      <p>Currently we have {{clients.length | i18nPlural:clientsMap}}</p>
      <p-button label="Update Clients Waiting" (click)="deleteClient()"></p-button>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Slice Pipe" [toggleable]="true">

    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Json Pipe" [toggleable]="true">

    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="KeyValue Pipe" [toggleable]="true">

    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Async Pipe" [toggleable]="true">

    </p-fieldset>
  </div>
</div>
