<p-panel header="Custom Pipes" class="p-1">
  <p>Custom Pipes in Angular - {{'maded by us!' | toggleCase: true }}</p>
</p-panel>

<div class="card">
  <p-toolbar>
    <div class="p-toolbar-group-end">
      <p-button label="ToggleCase" icon="pi pi-search" class="mr-2"></p-button>

      <p-button label="By Name" icon="pi pi-sort"
        styleClass="p-button-success mr-2"></p-button>

      <p-button label="By Flyer" icon="pi pi-sort" styleClass="p-button-danger"></p-button>

      <p-button label="By Color" icon="pi pi-sort" styleClass="p-button-danger"></p-button>
    </div>
  </p-toolbar>
</div>
