<h1>{{ heroName }}</h1>
<dl>
  <td>Name:</td>
  <dd>{{ realName }}</dd>

  <td>Age:</td>
  <dd>{{ age }}</dd>

  <td>Method:</td>
  <dd>{{ this.getHeroDescription() }}</dd>

  <td>Capitalize:</td>
  <dd>{{ capitalizedName }}</dd>
</dl>

<button class="btn btn-primary mx-2" (click)="changeHeroName()">
  Change name
</button>

<button class="btn btn-primary mx-2" (click)="changeHeroRealName()">
  Change Hero Real Name
</button>

<button class="btn btn-primary mx-2" (click)="changeHeroAge()">
  Change age
</button>
