<div class="bg-dark border-right p-3" id="sidebar">
  <h3 class="text-light">GifsApp</h3>
  <hr class="text-warning" />

  <div class="list-group list-reset">
    <button
      class="list-group list-group-item list-group-item-action mb-2"
      *ngFor="let tag of tags"
      (click)="showGifByHistory(tag)"
    >
      {{ tag | titlecase }}
    </button>
  </div>
  <button
    (click)="deleteHistory()"
    class="btn btn-danger mb-2"
    *ngIf="tags.length"
  >
    Delete History
  </button>
</div>
